<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="card mt-5">
        <div class="card-body">
          <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
            <a href="javascript:" class="d-flex justify-content-center mt-3">
              <img src="assets/images/logo-dark.svg" alt="logo" />
            </a>
            <div class="row">
              <div class="d-flex justify-content-center">
                <div class="auth-header">
                  <h2 class="text-secondary mt-5"><b>Sign up</b></h2>
                  <p class="fs-4 mt-2">Enter your credentials to continue</p>
                </div>
              </div>
            </div>
            <button type="button" class="btn mt-2 btn-light-primary bg-light text-muted" style="width: 100%">
              <img src="assets/images/authentication/google-icon.svg" alt="google" />
              Sign Up With Google
            </button>
            <div class="saprator mt-3">
              <span>or</span>
            </div>
            <h5 class="my-4 d-flex justify-content-center">Sign Up with Email address</h5>
            <div class="row">
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="firstName"
                    placeholder="Enter Your First Name"
                    name="firstName"
                    [(ngModel)]="registerModel.firstName"
                    #firstName="ngModel"
                    required
                    [class.is-invalid]="submitted() && firstName.invalid"
                  />
                  <label for="firstName">First Name</label>
                  @if (submitted() && firstName.invalid && firstName.errors?.['required']) {
                    <div class="invalid-feedback">
                      First Name is required
                    </div>
                  }
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="lastName"
                    placeholder="Enter Your Last Name"
                    name="lastName"
                    [(ngModel)]="registerModel.lastName"
                    #lastName="ngModel"
                    required
                    [class.is-invalid]="submitted() && lastName.invalid"
                  />
                  <label for="lastName">Last Name</label>
                  @if (submitted() && lastName.invalid && lastName.errors?.['required']) {
                    <div class="invalid-feedback">
                      Last Name is required
                    </div>
                  }
                </div>
              </div>
            </div>
            <div class="form-floating mb-3">
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Email Address"
                name="email"
                [(ngModel)]="registerModel.email"
                #email="ngModel"
                required
                email
                [class.is-invalid]="submitted() && email.invalid"
              />
              <label for="email">Email address / Username</label>
              @if (submitted() && email.invalid) {
                <div class="invalid-feedback">
                  @if (email.errors?.['required']) {
                    <div>Email is required</div>
                  }
                  @if (email.errors?.['email']) {
                    <div>Enter a valid email address</div>
                  }
                </div>
              }
            </div>
            <div class="form-floating mb-3">
              <input
                type="password"
                id="password"
                class="form-control"
                name="password"
                [(ngModel)]="registerModel.password"
                #password="ngModel"
                required
                minlength="8"
                [class.is-invalid]="submitted() && password.invalid"
                placeholder="Password (min. 8 characters)"
              />
              <label for="password">Password</label>
              @if (submitted() && password.invalid) {
                <div class="invalid-feedback">
                  @if (password.errors?.['required']) {
                    <div>Password is required</div>
                  }
                  @if (password.errors?.['minlength']) {
                    <div>Password must be at least 8 characters</div>
                  }
                </div>
              }
            </div>
            <div class="form-check mt-3s">
              <input class="form-check-input input-primary" type="checkbox" id="customCheckc1" checked />
              <label class="form-check-label" for="customCheckc1">
                <h5>
                  Agree with
                  <span>Terms & Condition.</span>
                </h5>
              </label>
            </div>
            <div class="d-grid mt-4">
              <button type="submit" class="btn btn-secondary p-2">Sign Up</button>
            </div>
          </form>
          <hr />
          <h5 class="d-flex justify-content-center">
            <a [routerLink]="['/login']">Already have an account?</a>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>